/*GENERAL*/
:root {
    --dark-pink: #D459A0;
    --pink: #EDA1CE;
    --light-grey: #F5F5F5;
    --grey: #EDEDED;
    font-family: SF Pro Display;
    font-size: 18px;
}

body{
    height: 3000px;
}

/*NAVBAR*/
.navbar {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    border-radius: 100px;
    margin: 0 5%;
    height: 75px;
    width: 90%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(15px);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 25px;
    font-size: 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 5%;
    padding: 0;
}

.navbar a {
    color: black;
    text-decoration: none;
}

/*CARD*/
.card {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    border-radius: 25px;
    padding: 10px 30px;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
}

/*HOMEPAGE*/
.home-page {
    margin: 12%;
    margin-top: 130px;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.home-page img {
    height: 400px;
}

.background-glow {
    position: absolute;
    top: 60px;
    right: 550px;
    width: 360px;
    height: 230px;
    background: var(--pink);
    border-radius: 50%;
    filter: blur(50px);
    z-index: -1;
}